


h1 {
	font-family:'Source Code Pro', cursive;
	font-size: 35px;
	position: relative; 
	top: 0%;
	left: -26%;
}

dl {
	font-family: 'Monda', sans-serif;
	font-size: 23px;
	line-height:160%;
	list-style-type: none;
  	position:relative;
  	left: 50%;
 	padding: 0;
  	text-overflow: ellipsis;
  	white-space: nowrap;
 }

dd {
 	font-size: 50%
 }

img {
	max-width: 50%;
	max-height: 50%;
	margin-left: 30%;

}

a {
 	color: #000;
 	text-decoration: none;
 }

 a:hover {
 	color: #778899;
 }

#sunflower {
	max-width:1.6%;
	max-height: 1.6%;
}

.design{ 
	float: left;
}

#projects{
	margin-top: 60px
}

#about {
	margin-top: 40px;

}

#prevnext{
	margin-top: 50px;
}