header {
	background-color: #FFFFFF;
	font-family: 'Monda', sans-serif;
	border: 1px black solid;
	padding: 20px;
	font-size: 26px;
}

nav {
	background-color: #FFFFFF;
	font-family: 'Monda', sans-serif;
	border: 1px black solid;
	padding: 20px;
	margin:0;
	padding:0;
}

a {
	display:block;
	font-size: 23px;
	text-decoration:none; 
	padding: 10px;
	width: 200px;
}

 main{
 	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px
 }

.clearfix:after{
 	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
 	clear: both;
 	height: 0;
 }

 #two_column{
 	background-color: #FFFFFF;
 	border: 1px black solid;
 	padding: 20px;
 }

 #right {
 	background-color: #FFFFFF;
 	border: 1px black solid;
 	padding: 20px;
 	float: right;
 	width: 70%;
 }

 #left {
 	background-color: #FFFFFF;
 	border: 1px black solid;
 	padding: 20px;
 	float: left;
 	width: 22%;
 }

footer {
 	background-color: #FFFFFF;
 	border: 1px black solid;
    padding: 20px;
 }
 

a {
 	color: #000;
 	text-decoration: none;
 }


 #siracusapic {
 	width: 80%;
	height: auto;
	border: 1px black solid;
    padding: 20px
 }





