header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

ul {
	font-family: 'Monda', sans-serif;
	font-size: 23px;
	list-style-type: none;
 }

 main{
 	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px
 }

footer {
 	background-color: #FF957E;
 	border: 1px black solid;
    padding: 20px;
 }
 

a {
 	color: #000;
 	text-decoration: none;
 }

 #nome {
 	font-family: 'Monda', sans-serif;
 	font-size: 23px;
 }

 #siracusapic {
 	max-width: 30%;
	max-height: 40%;
	border: 1px black solid;
    padding: 20px
 }

 #sunflower {
 	max-width: 30%;
	max-height: 20%;
	border: 1px black solid;
    padding: 20px
 }



